.sorry-form {
  text-align: left;
  max-width: 1000px;
}

.form-group {
  display: flex;  
  flex-flow: row wrap;
  text-align: center; 
}

.button-container {
  text-align: right;
  margin-top: 10px;
}

.sorry-form-wrapper {
}

.sorry-form-container {
  max-width: 1000px;
  padding: 10px;
  display: block;
  margin: 0 auto;
}

.sorry-form-submit-container {
  margin-top: 10px;
}

.text-right {
  text-align: right;
}