.letter-container {
  display: block;
  margin: 0 auto;
}

.letter {
  text-align: left;
  background-color: white;
  color: #222222;
  max-width: 1000px;
  margin: 20px;
  padding: 20px;
  border-radius: 0.375rem;
}

.small-break {
  margin-bottom: 0;
}

.letter-footer {
  display: flex;
  flex-direction: row;
}

.comments {
  margin-left: -15px;
  margin-right: 30px;
}